<!DOCTYPE html> 
<html>
  <head>
    <meta http-equiv="content-type" content="text/html">
    <meta charset="utf-8" />

    <title>Подтвердите регистрацию в Журнале ремонтов АО "КП-Габбро".</title>
  </head>
  <body>
    <h1>Подтвердите регистрацию в Журнале ремонтов КП-Габбро</h1>
    <h2>Вы получили это письмо потому что зарегистрировались в вэб
        приложении "Журнала ремонтов КП-Габбро".</h2>

    <ul>Ваши данные:
      <li>Имя: <%= locals.name %></li>
      <li>Емейл: <%= locals.email %></li>
      <li>Должность: <%= locals.position %></li>
    </ul>

    <br>

    <h3>Для подтверждения регистрации пройдите пожалауйста по этой ссылке: </h3>

    
    <a href="<%= locals.url %>"><%= locals.url %></a>
      
  </body>
</html>


  

